.w1920{
	width: 1920px;
	margin: 0 auto;
}
.header{
	height: 199px;
	background: url(../img/map.png) no-repeat;
	background-color: #c4c5c7;
	position: relative;
}
.header .opcity1{
	height: inherit;
	background: #dddedf;
	opacity: 0.9;
	filter: alpha(opacity=90);
	position: absolute;
	top: 0;
	left: 0;
}
.header h1{
	width: 194px;
	height: 47px;
	background: url(../img/logo.png) no-repeat;
	position: absolute;
	top: 47px;
	left: 272px;
}
.header .header1{
	width: 636px;
	height: 35px;
	position: absolute;
	top: 59px;
	left: 950px;
	border-bottom: 2px solid #6f6a68;
}
.header .header1 a{
	float: right;
	width: 106px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 20px;
	color: #231815;
}
.header .header1 a:hover{
	border-bottom: 2px solid #c90714;
}
.header .opcity2{
	height: 62px;
	position: absolute;
	background: black;
	top: 137px;
	left: 0px;
	opacity: 0.4;
	filter: alpha(opcity=40);
}
.header .header2{
	width: 162px;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #f7f7f7;
	position: absolute;
	top: 159px;
	left: 311px;
}
.header .header2 a{
	color: #f7f7f7;
}
.content{
	height: 631px;
	border-bottom: 1px solid #dad7d7;
	overflow: hidden;
}
.w1360{
	width: 1360px;
	margin: 0 auto;
}
.content .content1{
	height: 32px; 
	margin-top: 44px;
}
.content .content1 .a1{
	float: left;
	width: 120px;
	height: inherit;
	font-size: 26px;
	color: black;
	border-left: 4px solid #e60012;
	padding-left: 8px;
}
.content .content1 .b1{
	float: left;
	width: 177px;
	height: inherit;
	line-height: 48px;
	font-size: 16px;
	color: #c1c0c0;
}
.content .content2{
	height: 384px;
	background:url(../img/icon2.png);
	background-size: 100% 100%;
	margin-top: 60px;
	overflow: hidden;
	position: relative;
}
.content .content2 .content2-1{
	width: 241px;
	height: 209px;
	background: url(../img/icon1.png);
	margin-top: 18px;
	margin-left: 443px;
}
.content2 .content2-1 img{
	width: 241px;
	height: 118px;
	background-size: 100% 100%;
}
.content2 .content2-1 p{
	width: 223px;
	height: 16px;
	font-size: 14px;
	color: #d8bd8e;
	line-height: 16px;
	margin-top: 10px;
	margin-left: 10px;
}
.content2 .content2-1 .p1{
	margin-top: 4px;
}
.content2 .content2-2{
	width: 23px;
	height: 25px;
	background: url(../img/icon3.png);
	background-size: 100% 100%;
	position: absolute;
	top: 214px;
	left: 661px;
}
.bottom{
	height: 177px;
}
.bottoma{
	width: 1358px;
	height: inherit;
	margin-left: 342px;
}
.bottoma h2{
	float: left;
	width: 239px;
	height: 48px;
	border-right: 4px solid #d16545;
	background: url(../img/logo.png) no-repeat;
	margin-left: 6px;
	margin-top: 60px;
}
.bottoma .bottoma-R{
	float: right;
	width: 635px;
	height: 92px;
	margin-top: 49px;
	margin-right: 80px;
}
.bottoma .bottoma-R dl{
	width: 600px;
	height: 79px;
}
.bottoma .bottoma-R dl dt{
	float: left;
	width: 500px;
	height: 79px;
	line-height: 26px;
	text-align: right;
}
.bottoma .bottoma-R dl dt p{
	height: 14px;
	font-size: 14px;
	color: #727172;
}
.bottoma .bottoma-R dl dt .p1{
	margin-left: 156px;
	width: 343px;
	height: 14px;
}
.bottoma .bottoma-R dl dt .p2{
	width: 438px;
	height: 14px;
	margin-bottom: 7px;
	margin-top: 7px;
	margin-left: 61px;
}
.bottoma .bottoma-R dl dt p a{
	color: #727172;
}
.bottoma .bottoma-R dl dt .p3{
	width: 425px;
	margin-left: 73px;
}
.bottoma .bottoma-R dl dd{
	float: left;
	width: 79px;
	height: 79px;
	background: url(../img/code.png) -876px 0px no-repeat;
	margin-top: -5px;
	margin-left: 9px;
}
