.w1920{
	width: 1920px;
	margin: 0 auto;
}
.header{
	height: 199px;
	background: url(../img/map.png) no-repeat;
	background-color: #c4c5c7;
	position: relative;
}
.header .opcity1{
	height: inherit;
	background: #dddedf;
	opacity: 0.9;
	filter: alpha(opacity=90);
	position: absolute;
	top: 0;
	left: 0;
}
.header h1{
	width: 194px;
	height: 47px;
	background: url(../img/logo.png) no-repeat;
	position: absolute;
	top: 47px;
	left: 272px;
}
.header .header1{
	width: 636px;
	height: 35px;
	position: absolute;
	top: 59px;
	left: 950px;
	border-bottom: 2px solid #6f6a68;
}
.header .header1 a{
	float: right;
	width: 106px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 20px;
	color: #231815;
}
.header .header1 a:hover{
	border-bottom: 2px solid #c90714;
}
.header .opcity2{
	height: 62px;
	position: absolute;
	background: black;
	top: 137px;
	left: 0px;
	opacity: 0.4;
	filter: alpha(opcity=40);
}
.header .header2{
	width: 162px;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #f7f7f7;
	position: absolute;
	top: 159px;
	left: 311px;
}
.header .header2 a{
	color: #f7f7f7;
}
.content{
	height: 1422px;
	border-bottom: 1px solid #dad7d7;
}
.content .w1360{
	width: 1360px;
	height: 266px;
	margin: 0 auto;
}
.content .content1{
	margin-top: 30px;
}
.content .content2{
	margin-top: 90px;
}
.content .content3{
	margin-top: 88px;
}
.content .content4{
	height: 277px;
	margin-top: 73px;
}
.content .imgleft{
	background: #f9f9f9;
}
.content dl{
	width: 1287px;
	height: inherit;
}
.content .imgleft dl dt{
	width: 431px;
	height: inherit;
	float: left;
}
.content .imgleft dl dd{
	width: 805px;
	height: inherit;
	float: right;
}
.content .imgright dl dt{
	width: 805px;
	height: inherit;
	float: left;
}
.content .imgright dl dd{
	width: 431px;
	height: inherit;
	float: right;
}
.content dl img{
	width:431px;
	height: inherit;
	background-size: 100% 100%; 
}
.content dl .p1{
	width: 299px;
	height: 24px;
	margin-left: 505px;
	margin-top: 22px;
}
.content .imgright dl .p1{
	margin-left: 0px;
}
.content dl .p1 .p1-1{
	float: left;
	width: 180px;
	height: 24px;
	font-size: 16px;
	color: #888787;
	line-height: 32px;
}
.content dl .p1 i{
	float: left;
	width: 3px;
	height: 24px;
	background: url(../img/icon.png) no-repeat;
}
.content .imgleft dl .p1 i{
	margin: 0px 10px;
}
.content dl .p1 .p1-2{
	float: left;
	width: 96px;
	height: 24px;
	font-size: 24px;
	line-height: 24px;
	color: black;
	font-weight: bold;
}
.content .imgright dl .p1 .p1-2{
	margin: 0px 10px;
}
.content dl .p2{
	width: 30px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	color: #e60012;
	margin-top: 8px;
}
.content .imgright dl .p2{
	margin-top: 25px;
}
.content dl .p3{
	width: 742px;
	height: 38px;
	font-size: 14px;
	color: #bbb;
	line-height: 19px;
	margin-left: 63px;
}
.content .imgright dl .p3{
	margin-left: 61px;
}
.content dl .p4{
	height: 57px;
	line-height: 19px;
	margin-top: 26px;
}
.content dl .p5{
	margin-left: 775px;
}
.content .imgright dl .p5{
	margin-left: 790px;
	margin-top: 8px;
}









.bottom{
	height: 177px;
}
.bottoma{
	width: 1358px;
	height: inherit;
	margin-left: 342px;
}
.bottoma h2{
	float: left;
	width: 239px;
	height: 48px;
	border-right: 4px solid #d16545;
	background: url(../img/logo.png) no-repeat;
	margin-left: 6px;
	margin-top: 60px;
}
.bottoma .bottoma-R{
	float: right;
	width: 635px;
	height: 92px;
	margin-top: 49px;
}
.bottoma .bottoma-R dl{
	width: 600px;
	height: 79px;
}
.bottoma .bottoma-R dl dt{
	float: left;
	width: 500px;
	height: 79px;
	line-height: 26px;
	text-align: right;
}
.bottoma .bottoma-R dl dt p{
	height: 14px;
	font-size: 14px;
	color: #727172;
}
.bottoma .bottoma-R dl dt .p1{
	margin-left: 156px;
	width: 343px;
	height: 14px;
}
.bottoma .bottoma-R dl dt .p2{
	width: 438px;
	height: 14px;
	margin-bottom: 7px;
	margin-top: 7px;
	margin-left: 61px;
}
.bottoma .bottoma-R dl dt p a{
	color: #727172;
}
.bottoma .bottoma-R dl dt .p3{
	width: 425px;
	margin-left: 73px;
}
.bottoma .bottoma-R dl dd{
	float: left;
	width: 79px;
	height: 79px;
	background: url(../img/code.png) -876px 0px no-repeat;
	margin-top: -5px;
	margin-left: 9px;
}